<dialog id="confirmDialog" class="modal">
	<div class="modal-header">
		<h3></h3>
		<button type="button" class="close-btn modal-close">✕</button>
	</div>
	<div class="modal-body">
		<div class="form-group">
			<p>Сбросить все настройки к значениям по умолчанию?</p>
		</div>
	</div>

	<div class="modal-footer">
		<button type="button" class="btn btn-secondary modal-close">Закрыть</button>
		<button id="confirm-modal-ok" type="button" class="btn btn-primary">Подтвердить</button>
	</div>
</dialog>
