<dialog id="helpDialog" class="modal">
	<div class="modal-header">
		<h3>Загрузка excel прайс-листа</h3>
		<button type="button" class="close-btn modal-close">✕</button>
	</div>
	<div class="modal-body">
		<div class="form-group">
			<p>Формат загружаемого файла должен содержать три колонки:</p>
			<ul>
				<li>п.н. (порядковый номер)</li>
				<li>Наименование</li>
				<li>Цена</li>
			</ul>
			<p>Пример:</p>
			<img src="/assets/excelPriseExample.jpg" alt="пример: прайс-лист" />
		</div>
	</div>

	<div class="modal-footer">
		<button type="button" class="btn btn-secondary modal-close">Закрыть</button>
	</div>
</dialog>
