<dialog id="wicketAndGateEditorDialog" class="modal">
	<div class="modal-header">
		<h3>Конструктор калитки / ворот</h3>
		<button type="button" class="close-btn modal-close">✕</button>
	</div>
	<div class="modal-body">
		<div class="form-group">
			<span>Ширина</span>
			<span>Высота</span>
		</div>
	</div>

	<div class="modal-footer">
		<button type="button" class="btn btn-secondary modal-close">Отмена</button>
		<button type="submit" id="addBtn" class="btn btn-primary">Применить</button>
	</div>
</dialog>
