<template id="gate-calculator-template">
	<div class="calculator-card" data-calculator="gate">
		<div class="calculator-card__switches">
			<label class="calculator-card__radio">
				<input id="swing-gate" type="radio" name="gate-opening" value="swing" checked />
				<span>Распашные</span>
			</label>
			<label class="calculator-card__radio">
				<input id="sliding-gate" type="radio" name="gate-opening" value="sliding" />
				<span>Откатные</span>
			</label>
		</div>

		<div class="calculator-fields">
			<label class="calculator-field">
				<span>Тип ворот</span>
				<div class="field-row radio-cards-box">
					<label class="radio-card">
						<input class="hidden" type="radio" name="gate-type" value="gate-type1" checked />
						<div class="radio-card-box" type="button">
							<img src="./assets/gate/gate-type1.svg" alt="ворота тип 1" />
						</div>
					</label>
					<label class="radio-card">
						<input class="hidden" type="radio" name="gate-type" value="gate-type2" />
						<div class="radio-card-box" type="button">
							<img src="./assets/gate/gate-type2.svg" alt="ворота тип 2" />
						</div>
					</label>
					<label class="radio-card">
						<input class="hidden" type="radio" name="gate-type" value="gate-type3" />
						<div class="radio-card-box" type="button">
							<img src="./assets/gate/gate-type3.svg" alt="ворота тип 3" />
						</div>
					</label>
					<label class="radio-card">
						<input class="hidden" type="radio" name="gate-type" value="gate-type4" />
						<div class="radio-card-box" type="button">
							<img src="./assets/gate/gate-type4.svg" alt="ворота тип 4" />
						</div>
					</label>
					<label class="radio-card">
						<input class="hidden" type="radio" name="gate-type" value="gate-type5" />
						<div class="radio-card-box" type="button">
							<img src="./assets/gate/gate-type5.svg" alt="ворота тип 5" />
						</div>
					</label>
					<label class="radio-card">
						<input class="hidden" type="radio" name="gate-type" value="gate-type6" />
						<div class="radio-card-box" type="button">
							<img src="./assets/gate/gate-type6.svg" alt="ворота тип 6" />
						</div>
					</label>
					<label class="radio-card">
						<input class="hidden" type="radio" name="gate-type" value="gate-type7" />
						<div class="radio-card-box" type="button">
							<img src="./assets/gate/gate-type7.svg" alt="ворота тип 7" />
						</div>
					</label>
					<label class="radio-card">
						<input class="hidden" type="radio" name="gate-type" value="gate-type8" />
						<div class="radio-card-box" type="button">
							<img src="./assets/gate/gate-type8.svg" alt="ворота тип 8" />
						</div>
					</label>
					<label class="radio-card">
						<input class="hidden" type="radio" name="gate-type" value="gate-type9" />
						<div class="radio-card-box" type="button">
							<img src="./assets/gate/gate-type9.svg" alt="ворота тип 9" />
						</div>
					</label>
					<label class="radio-card">
						<input class="hidden" type="radio" name="gate-type" value="gate-type10" />
						<div class="radio-card-box" type="button">
							<img src="./assets/gate/gate-type10.svg" alt="ворота тип 10" />
						</div>
					</label>
					<label class="radio-card">
						<input class="hidden" type="radio" name="gate-type" value="sliding-gate-type1" />
						<div class="radio-card-box" type="button">
							<img src="./assets/gate/sliding-gate-type1.svg" alt="откатные ворота тип 1" />
						</div>
					</label>
					<label class="radio-card">
						<input class="hidden" type="radio" name="gate-type" value="sliding-gate-type2" />
						<div class="radio-card-box" type="button">
							<img src="./assets/gate/sliding-gate-type2.svg" alt="откатные ворота тип 2" />
						</div>
					</label>
					<label class="radio-card">
						<input class="hidden" type="radio" name="gate-type" value="wicket-custom-type" />
						<div class="radio-card-box" type="button">
							<img src="./assets/wicket/wicket-gate-manual.svg" alt="ворота кастомный тип" />
						</div>
					</label>
				</div>
			</label>
			<label class="calculator-field calculator-field--short">
				<span>Ширина (мм)</span>
				<select id="gate-width" class="text-input">
					<option value="" disabled selected>Выберите ширину</option>
				</select>
			</label>
			<label class="calculator-field calculator-field--short">
				<span>Высота (мм)</span>
				<select id="gate-height" class="text-input">
					<option value="" disabled selected>Выберите высоту</option>
				</select>
			</label>
			<label class="calculator-field calculator-field--short">
				<span>Наценка на обрезь</span>
				<input id="gate-fmarkup-on-trimmings" class="text-input" type="number" min="1" max="1000" step="1" placeholder="0" />
			</label>
			<label class="calculator-field--with-markup">
				<span>Столбы</span>
				<input type="search" id="gate-posts" class="text-input calculator-item-from-price" name="gate-posts" placeholder="Поиск товара..." required />
				<input class="calculator-markup text-input" type="number" min="1" max="1000" step="1" placeholder="0" />
				<span>Наценка (от 1 до 1000 %)</span>
			</label>
			<label class="calculator-field--with-markup">
				<span>Материал каркаса</span>
				<input
					type="search"
					id="gate-frame-material"
					class="text-input calculator-item-from-price"
					name="gate-frame-material"
					list="gate-frame-material-price-data"
					placeholder="Поиск товара..."
					required
				/>
				<input class="calculator-markup text-input" type="number" min="1" max="1000" step="1" placeholder="0" />
				<span>Наценка (от 1 до 1000 %)</span>
			</label>
			<label class="calculator-field--with-markup">
				<span>Материал перегородок</span>
				<input type="search" id="gate-partitions-material" class="text-input calculator-item-from-price" name="gate-partitions-material" placeholder="Поиск товара..." required />
				<input class="calculator-markup text-input" type="number" min="1" max="1000" step="1" placeholder="0" />
				<span>Наценка (от 1 до 1000 %)</span>
			</label>
			<label class="calculator-field--with-markup">
				<span>Обшивка</span>
				<input type="search" id="gate-cladding" class="text-input calculator-item-from-price" name="gate-cladding" placeholder="Поиск товара..." required />
				<input class="calculator-markup text-input" type="number" min="1" max="1000" step="1" placeholder="0" />
				<span>Наценка (от 1 до 1000 %)</span>
			</label>
			<label class="calculator-field calculator-field--inactive">
				<span>Шаг штакетника (мм)</span>
				<select id="gate-cladding-step" class="text-input" disabled></select>
			</label>
			<label class="calculator-field--with-markup">
				<span>Покраска</span>
				<input type="search" id="gate-paint" class="text-input calculator-item-from-price" name="gate-paint" placeholder="Поиск товара..." required />
				<input class="calculator-markup text-input" type="number" min="1" max="1000" step="1" placeholder="0" value="0" />
				<span>Наценка (от 1 до 1000 %)</span>
			</label>
			<label class="calculator-field--with-markup calculator-field--sliding">
				<span>Комплект роликов</span>
				<input type="search" id="gate-rollers" class="text-input calculator-item-from-price" name="gate-rollers" placeholder="Поиск товара..." required />
				<input class="calculator-markup text-input" type="number" min="1" max="1000" step="1" placeholder="0" />
				<span>Наценка (от 1 до 1000 %)</span>
			</label>
			<label class="calculator-field--with-markup calculator-field--sliding">
				<span>Рейка</span>
				<input type="search" id="gate-rack" class="text-input calculator-item-from-price" name="gate-rack" placeholder="Поиск товара..." required />
				<input class="calculator-markup text-input" type="number" min="1" max="1000" step="1" placeholder="0" />
				<span>Наценка (от 1 до 1000 %)</span>
			</label>
			<label class="calculator-field--with-markup calculator-field--sliding">
				<span>Привод</span>
				<input type="search" id="gate-drive" class="text-input calculator-item-from-price" name="gate-drive" placeholder="Поиск товара..." required />
				<input class="calculator-markup text-input" type="number" min="1" max="1000" step="1" placeholder="0" />
				<span>Наценка (от 1 до 1000 %)</span>
			</label>
		</div>

		<button class="calculator-card__button" type="button" disabled>Рассчитать</button>
	</div>
</template>
